<div class="time-line">
    <%
    var currentYear;
    var allPosts = [];
    var zodiacs = ["rat", "cattle", "tiger", "rabbit", "loong", "snake", "horse", "sheep", "monkey", "chicken", "dog", "pig"];
    page.posts.each(function (article, pi) {
        allPosts.push(article);
    });
    allPosts.forEach(function (article, pi) {
    if (currentYear != date(article.date, 'YYYY')) {
        currentYear = date(article.date, 'YYYY');
    %>
    <div class="time-line-content">
        <div class="time-line-content-circle">
            <span>
                <i class="fh fh-<%= zodiacs[(parseInt(currentYear) - 2008) % 12] %>"></i>
            </span>
        </div>
        <div class="time-line-content-title"><%= currentYear %></div>
        <div class="time-line-content-content">
            <% } %>
            <div class="post-item">
                <time datetime="<%= article.date.toJSON() %>"
                      class="item"><%= date(article.date, 'MMM DD') %></time>
                <a href="<%= config.root + article.path %>">
                    <%= article.title %>
                </a>
            </div>
            <% if (currentYear === date(article.date, 'YYYY') &&
                    (!allPosts[pi + 1] || date(article.date, 'YYYY') != date(allPosts[pi + 1].date, "YYYY"))) { %>
        </div>
    </div>
    <% } %>
    <% }); %>
</div>