<% if(theme.gittalk_comments && theme.gittalk_comments.clientID && theme.gittalk_comments.clientSecret
&& theme.gittalk_comments.repo && theme.gittalk_comments.owner && theme.gittalk_comments.admin){ %>
<div id="gitalk-container">
</div>
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script>
    var loadJs = function (d, a) {
        var c = document.getElementsByTagName("head")[0] || document.head || document
            .documentElement;
        var b = document.createElement("script");
        b.setAttribute("type", "text/javascript");
        b.setAttribute("src", d);
        if (typeof a === "function") {
            if (window.attachEvent) {
                b.onreadystatechange = function () {
                    var e = b.readyState;
                    if (e === "loaded" || e === "complete") {
                        b.onreadystatechange = null;
                        a()
                    }
                }
            } else {
                b.onload = a
            }
        }
        c.appendChild(b)
    };
    loadJs("https://unpkg.com/gitalk/dist/gitalk.min.js", function () {
        var gitalk = new Gitalk({
            clientID: '<%- theme.gittalk_comments.clientID %>',
            clientSecret: '<%- theme.gittalk_comments.clientSecret %>',
            repo: '<%- theme.gittalk_comments.repo %>',
            owner: '<%- theme.gittalk_comments.owner %>',
            admin: ['<%- theme.gittalk_comments.admin %>'],
            id: decodeURIComponent(location.pathname),
            distractionFreeMode: false
        })

        gitalk.render('gitalk-container')
    });
</script>
<% } %>