<article class="post animated rollIn">
    <h1 class="post-title"><%= page.title %></h1>
    <div class="post-subtitle">
        <% if (page.date) { %>
        <time datetime="<%= page.date.toJSON() %>" class="item">
            <i class="fh fh-calendar" aria-hidden="true"></i>&nbsp;&nbsp;<%= date(page.date) %>
        </time>
        <% } %>
        <% if (page.categories && page.categories.length) {
        %>
        <span class="item">
      <i class="fh fh-cubes" aria-hidden="true"></i>&nbsp;
            <%
            page.categories.forEach(function (cate) {
            %>
            <a class="label label-primary tags" href="<%- url_for(cate.path) %>">
           <i class="fh fh-cube" aria-hidden="true"></i>&nbsp;<%- cate.name %>
        </a>
            <%
            })
            %>
        </span>
        <%
        } %>
        <% if (page.tags && page.tags.length) {
        %>
        <span class="item">
        <i class="fh fh-tags" aria-hidden="true"></i>&nbsp;
            <%
            page.tags.forEach(function (tag) {
            %>
            <a class="label label-info tags" href="<%- url_for(tag.path) %>">
            <i class="fh fh-tag" aria-hidden="true"></i>&nbsp;<%- tag.name %>
            </a>
            <%
            })
            %>
        </span>
        <%
        } %>
    </div>
    <%
    var content = page.content;
    if(page.excerpt){
        content = content.replace(page.excerpt, "");
    %>
    <blockquote>
        <p><strong><em>简介</em></strong><br></p>
        <%- page.excerpt %>
    </blockquote>
    <% } %>
    <%- content %>
</article>
<%- toc(content, {class: 'animated rollIn hannah-toc', list_number: false}) %>
<%- partial('partials/pagination') %>
