<div class="hannah-menu">
    <i class="fh fh-ravelry fa-2x btn fixed-menu animated bounce" id="btn_menu" aria-hidden="true"></i>
    <div class="menu-outer container-fluid hide animated" id="div_menu">
        <div class="row" style="margin-bottom: 5px;">
            <%
            let leftSocial = [], rightSocial = [];
            let allSocial = [];
            if (theme.social) {

                Object.keys(theme.social).forEach(function (key, idx) {
                    let item = theme.social[key];
                    if (item)
                        allSocial.push({
                            title: item["title"] || key,
                            url: item["url"] || "#",
                            icon: item["icon"] || "fh fh-ravelry"
                        });
                });
                if (allSocial.length % 2 === 0) {
                    leftSocial = allSocial.slice(0, allSocial.length / 2);
                    rightSocial = allSocial.slice(allSocial.length / 2, allSocial.length);
                } else {
                    leftSocial = allSocial.slice(0, allSocial.length / 2 < 1 ? Math.ceil(allSocial.length / 2) : Math.floor(allSocial.length / 2));
                    rightSocial = allSocial.slice(allSocial.length / 2 < 1 ? Math.ceil(allSocial.length / 2) : Math.floor(allSocial.length / 2), allSocial.length);
                }
            }
            %>
            <div class="col-md-offset-2 col-md-3 col-xs-4 text-center left-social">
                <% leftSocial.forEach(function (t) { %>
                <a target="_blank" href="<%- t.url %>" title="<%- t.title %>"><i class="<%- t.icon %>"></i></a>
                <% }) %>
                <style>
                    .left-social {
                        height: 132px;
                        line-height: <%-leftSocial.length>4?66:132%>px;
                        font-size: <%-leftSocial.length>4?55:66%>px;
                    }

                    .left-social * {
                        color: #f1ce8e;
                    }

                    @media (max-width: 767px) {
                        .left-social {
                            line-height: <%-leftSocial.length>4?66:132%>px;
                            font-size: 33px;
                        }
                    }
                </style>
            </div>
            <!--begin handImg-->
            <div class="col-md-2 col-xs-4 text-center">
                <%
                if(theme.headImg && theme.headImg.url){
                %>
                <img src="<%= theme.headImg.url %>" alt="Head Image" class="img-circle">
                <% }else if(theme.headImg && theme.headImg.gravatar
                        && theme.headImg.gravatar.email){
                    var option = theme.headImg.gravatar.option || {};
                %>
                <%- gravatar(theme.headImg.gravatar.email, option) %>
                <% } %>
            </div>
            <!--end handImg-->
            <div class="col-md-3 col-xs-4 text-center right-social">
                <% rightSocial.forEach(function (t) { %>
                <a target="_blank" href="<%- t.url %>" title="<%- t.title %>"><i class="<%- t.icon %>"></i></a>
                <% }) %>
                <style>
                    .right-social {
                        height: 132px;
                        line-height: <%-rightSocial.length>4?66:132%>px;
                        font-size: <%-rightSocial.length>4?55:66%>px;
                    }

                    @media (max-width: 767px) {
                        .right-social {
                            line-height: <%-rightSocial.length>4?66:132%>px;
                            font-size: 33px;
                        }
                    }

                    .right-social * {
                        color: #f1ce8e;
                    }
                </style>
            </div>
        </div>
        <div class="row">
            <div class="menu-content col-md-8 col-md-push-2 col-xs-12 ">
                <dl class="menu-content-item">
                    <dt class="menu-content-title">
                        <i class="fh fh-bars" aria-hidden="true"></i> Menu
                    </dt>
                    <dd class="menu-content-content">
                        <% Object.keys(theme.menu).forEach(function(key, idx) { %>
                        <div class="col-md-4 col-xs-6 col-sm-4 text-center animated tada">
                            <a href="<%= theme.menu[key].url || theme.menu[key] %>" class="btn btn-block">
                                <%
                                    var icon = "";
                                    if (theme.menu[key].icon) {
                                        icon = theme.menu[key].icon;
                                    }
                                %>
                                <i class="<%= icon %>"></i>
                                <%= key %>
                            </a>
                        </div>
                        <% }); %>
                        <div class="col-md-4 col-xs-6 col-sm-4 text-center animated tada">
                            <a href="<%= theme.rss %>" class="btn btn-block">
                                <i class="fh fh-rss" aria-hidden="true"></i> RSS
                            </a>
                        </div>
                    </dd>
                </dl>
            </div>
        </div>
        <div class="row">
            <div class="menu-content col-md-8 col-md-offset-2 col-xs-12 ">
                <dl class="col-md-6 col-xs-6 menu-content-item">
                    <dt class="menu-content-title">
                        <i class="fh fh-cubes" aria-hidden="true"></i> Category
                    </dt>
                    <dd class="menu-content-content animated zoomIn">
                        <%- list_categories({
                            show_count: true, class: 'menu-cate', transform: function (cate) {
                                return "<i class=\"fh fh-cube\" aria-hidden=\"true\"></i> " + cate;
                            }
                        }) %>
                    </dd>
                </dl>
                <dl class="col-md-6 col-xs-6 menu-content-item">
                    <dt class="menu-content-title">
                        <i class="fh fh-tag" aria-hidden="true"></i> Tags
                    </dt>
                    <dd class="menu-content-content animated zoomIn">
                        <%- list_tags({
                            show_count: true, depth: -1, class: 'menu-tag', transform: function (tag) {
                                return "<i class=\"fh fh-tag\" aria-hidden=\"true\"></i> " + tag;
                            }
                        }) %>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>